div {
  border:gray solid thin;
  
  }

#listMe {
  float: left;
  width:45%;
  }

#previewMe {
  float: left;
  width:45%;
  }

.heighlight { background-color: #8888FF }
.selected   { background-color: #888888 }

#imgShow {
  background-color: #000000;
  height:480px;
  width:720px;
}

textarea {
  font-size:32px;
  }
