div {
  border:gray solid thin;
  
  }

#listMe {
  float: left;
  width:45%;
  }

#previewMe {
  float: left;
  width:45%;
  }

.heighlight { background-color: #8888FF }

textarea {
  font-size:32px;
  }
